<div class="row">
    <div class="col-lg-12">
 
        
   
        <!-- About Details -->
        <div class="widget about-widget">
            <!-- <h4 class="widget-title">About Me</h4> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <!-- /About Details -->
    
        <!-- Education Details -->
        <div class="widget education-widget">
            <h4 class="widget-title">Education</h4>
            <div class="experience-box">
                <ul class="experience-list">
                    <li [attr.colspan]="6" *ngIf="qualificationService.loading$ | async">
                        <div class="spinner-border text-primary text-center" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                    </li>
                    <ng-container *ngIf="!(qualificationService.loading$ | async)">                   
                    <li *ngFor="let data of qualificationService.data$ | async">
                        <div class="experience-user">
                            <div class="before-circle"></div>
                        </div>
                        <div class="experience-content">
                            <div class="timeline-content">
                                <a href="#/" class="name">{{data?.institutionName}}</a>
                                <div>{{data?.qualificationName}}</div>
                                <span class="time">{{data?.procrumentYear | date:'YY-MM-dd'}}</span>
                            </div>
                        </div>
                    </li>
                </ng-container>
                    <!-- <li>
                        <div class="experience-user">
                            <div class="before-circle"></div>
                        </div>
                        <div class="experience-content">
                            <div class="timeline-content">
                                <a href="#/" class="name">American Dental Medical University</a>
                                <div>MDS</div>
                                <span class="time">2003 - 2005</span>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
        <!-- /Education Details -->

        <!-- Experience Details -->
        <div class="widget experience-widget">
            <h4 class="widget-title">Work & Experience</h4>
            <div class="experience-box">
                <ul class="experience-list">
                    <li [attr.colspan]="6" *ngIf="experienceService.loading$ | async">
                        <div class="spinner-border text-primary text-center" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                    </li>
                    <ng-container *ngIf="!(experienceService.loading$ | async)">                   
                        <li *ngFor="let data of experienceService.data$ | async">
                        <div class="experience-user">
                            <div class="before-circle"></div>
                        </div>
                        <div class="experience-content">
                            <div class="timeline-content">
                                <a href="#/" class="name">{{data?.experience}}</a>
                                <span class="time">{{data?.startYear | date:'Year'}} - {{data?.endYear | date:'Year'}}</span>
                            </div>
                        </div>
                    </li>
                    </ng-container>
        
                </ul>
            </div>
        </div>
        <!-- /Experience Details -->

        <!-- Awards Details -->
        <div class="widget awards-widget">
            <h4 class="widget-title">Awards</h4>
            <div class="experience-box">
                <ul class="experience-list">
                    <li [attr.colspan]="6" *ngIf="achievementService.loading$ | async">
                        <div class="spinner-border text-primary text-center" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                    </li>
                    <ng-container *ngIf="!(achievementService.loading$ | async)">                   
                        <li *ngFor="let data of achievementService.data$ | async">
                        <div class="experience-user">
                            <div class="before-circle"></div>
                        </div>
                        <div class="experience-content">
                            <div class="timeline-content">
                                <p class="exp-year">July 2023</p>
                                <h4 class="exp-title">{{data?.awardOrRecognitionName}}</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                            </div>
                        </div>
                    </li>
                    </ng-container>
                
                </ul>
            </div>
        </div>
        <!-- /Awards Details -->
        
        <!-- Services List -->
        <div class="service-list">
            <h4>Services</h4>
            <ul class="clearfix">
                <li [attr.colspan]="6" *ngIf="service.loading$ | async">
                    <div class="spinner-border text-primary text-center" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                </li>
                <ng-container *ngIf="!(service.loading$ | async)">                   
                    <li *ngFor="let data of service.data$ | async">
                   {{data?.serviceName}} </li>
                </ng-container>
        
            </ul>
        </div>
        <!-- /Services List -->
        
        <!-- Specializations List -->
        <div class="service-list">
            <h4>Specializations</h4>
            <ul class="clearfix">
                <li>Children Care</li>
                <li>Dental Care</li>	
                <li>Oral and Maxillofacial Surgery </li>	
                <li>Orthodontist</li>	
                <li>Periodontist</li>	
                <li>Prosthodontics</li>	
            </ul>
        </div>
        <!-- /Specializations List -->
    
    </div>
</div>