<form *ngIf="isLoaded && !isError" (ngSubmit)="goToNext(frm)" [formGroup]="frm" novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="mb-3">
        <label *ngIf="!specializationId.touched" [for]="id" class="d-block"> Specialization {{ isRequiredBank }} </label>
        <label *ngIf="specializationId.touched && !specializationId.invalid" [for]="id" class="valid-feedback d-block">Specialization {{ isRequiredBank }}</label>
        <label *ngIf="specializationId.touched && specializationId.invalid" [for]="id" class="invalid-feedback d-block">Specialization {{ isRequiredBank }}</label>
        <ng-select
          #bankCtl
          [searchable]="true"
          [items]="$specializations | async"
          [trackByFn]="bankTrackedBy"
          bindLabel="name"
          bindValue="id"
          [loading]="bankLoading"
          [placeholder]="'Select specialization ...'"
          typeToSearchText="Start typing specialization name..."
          [typeahead]="$bankInput"
          id="specializationId"
          name="specializationId"
          formControlName="specializationId"
          [ngClass]="{
            'is-valid': specializationId.touched && !specializationId.invalid,
            'is-invalid': specializationId.touched && specializationId.invalid
          }"
        >
        </ng-select>

        <ng-template ng-header-tmp>
          <input appAutofocus class="form-control form-control-sm bg-primary-subtle text-primary inputCss" type="text" (input)="bankCtl.filter($event.target['value'])" />
        </ng-template>
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">
        <i class="ri ri-save-line label-icon align-middle fs-16 me-2"></i>
        {{ saveLabel }} Details
      </button>
    </div>
  </div>
</form>
