<!-- <section class="section pb-0 hero-section" id="hero">
  <div class="bg-overlay bg-overlay-pattern"></div>
  <div class="container">
    <div class="row justify-content-between align-items-center py-5">
      <div class="col-lg-6 col-md-12">
        <div class="home-img text-center mt-5 mt-lg-0">
          <img src="assets/images/app_download.png" alt="" class="user-img overflow-hidden img-fluid" />
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div>
          <h1 class="fw-semibold text-capitalize mb-3 lh-base text-center text-md-start">Download the WeCare app</h1>
          <p class="lead text-muted lh-base mb-4">
            Access video consultation with Ethiopia's top doctors on the WeCare app. Connect with doctors online, available 24/7, from the comfort of your home.
          </p>

          <div class="row gap-3 justify-content-center justify-content-lg-start">
            <a href="#" class="col-10 col-md-4 bg-black py-3 px-4 rounded mb-2 mb-md-0">
              <img src="assets/images/play-store.svg" alt="playstore" class="img-fluid" />
            </a>
            <a href="#" class="col-10 col-md-4 bg-black py-3 px-4 rounded">
              <img src="assets/images/app-store.svg" alt="appstore" class="img-fluid" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
