<footer class="custom-footer bg-dark py-5 position-relative">
  <div class="custom-container">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div>
          <div>
            <img src="assets/images/janocare-logo-transparent.png" alt="logo light" height="28" />
          </div>
          <div class="mt-4 fs-13">
            <p>JanoCare is an online health care related platform based in Ethiopia</p>
            <p class="ff-secondary">Since its inception JanoCare has helped thousands of patients get access to highly qualified medical experts across all cities of the country.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-7 ms-lg-auto">
        <div class="row">
          <div class="col-6 col-sm-4 mt-4">
            <h5 class="text-white mb-0">JanoCare</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a href="/pages/aboutus">About Us</a></li>
                <li><a href="/pages/blog">Blog</a></li>
                <li><a href="/projects/careers">Careers</a></li>
                <li><a href="/pages/press">Press</a></li>
                <li><a href="/pages/contactus">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-4 mt-4">
            <h5 class="text-white mb-0">For Patients</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a href="/pages/doctors">Search for doctors</a></li>
                <li><a href="/pages/clinics">Search for clinics</a></li>
                <li><a href="/pages/clinics">Search for hospitals</a></li>
                <li><a href="/pages/clinics">Book diagnostic tests</a></li>
                <li><a href="/pages/clinics">Ask Questions</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-4 mt-4">
            <h5 class="text-white mb-0">Support</h5>
            <div class="text-muted mt-3">
              <ul class="list-unstyled ff-secondary footer-list">
                <li><a href="/pages/faqs">FAQ</a></li>
                <li><a href="/pages/faqs">Call 9394</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center text-sm-start align-items-center mt-5">
      <div class="col-sm-6">
        <div>
          <p class="copy-rights mb-0">{{ year }} © JanoCare</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end mt-3 mt-sm-0">
          <ul class="list-inline mb-0 footer-social-link">
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-facebook-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-github-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-linkedin-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-google-fill"></i>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript: void(0);" class="avatar-xs d-block">
                <div class="avatar-title rounded-circle">
                  <i class="ri-dribbble-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
