@media (max-width: 768px) {
    .col-sm-12.text-right,
    .col-sm-12.text-left {
      text-align: center;
    }
  }
  /* .row {
    margin-right: 80px !important;
    margin-left: 80px !important;

  } */