.profile-img {
    width: 100px;
    height: 100px;
  }
  
  .camera-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 50%;
  }
  select{
    height: 3.125rem;
    padding: 0.75rem;
  }

.is-valid{
    border: 1px solid #0ab39c !important;
    border-radius: 5px !important;
  }
  //f06548
  .is-invalid{
    border: 1px solid #f06548 !important;
    border-radius: 5px !important;
  }
