<!-- Gender -->
<div>
  <p class="text-muted text-uppercase fs-12 fw-medium my-3">Gender</p>
  <div class="my-3 d-flex gap-1 justify-content-between">
    @for (item of Genders$ | async; track $index) {
    <button
      type="button"
      class="btn btn-custom w-100 waves-effect waves-light"
      [ngClass]="{ 'btn-info ': item.selected, 'btn-outline-info ': !item.selected }"
      (click)="selectGender(item)"
    >
      {{ item.name }}
    </button>
    }
    <button
      type="button"
      class="btn btn-custom btn-outline-info waves-effect waves-light"
      [ngClass]="{ 'btn-info ': !allGendersSelected, 'btn-outline-info ': allGendersSelected }"
      (click)="selectBothGenders()"
    >
      Both
    </button>
  </div>
</div>
