<div class="pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center mt-5">
          <h5 class="fs-20 fw-semibold text-start">Popular Specialties</h5>
          <div class="mt-sm-5 mt-4 mb-sm-5 mb-4" dir="ltr">
            <ngb-carousel
              #carousel
              [showNavigationIndicators]="showNavigationIndicators"
              [interval]="3500"
              [pauseOnHover]="pauseOnHover"
              [pauseOnFocus]="pauseOnFocus"
              (slide)="onSlide($event)"
              [keyboard]="true"
            >
              <ng-template ngbSlide>
                <div class="row">
                  <div class="col" *ngFor="let data of getSlideItems(0)">
                    <div class="client-images py-4" style="cursor: pointer" routerLink="/doctors" [queryParams]="{ specialty: data.name }">
                      <img src="{{ data.icon | removePort }}" appImgFallback="/assets/images/logo-sm-2.png" alt="client-img" class="mx-auto img-fluid d-block" height="100" />
                      <p>{{ data.name }}</p>
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template ngbSlide>
                <div class="row">
                  <div class="col" *ngFor="let data of getSlideItems(1)">
                    <div class="client-images py-4" style="cursor: pointer" routerLink="/doctors" [queryParams]="{ specialty: data.name }">
                      <img src="{{ data.image | removePort }}" appImgFallback="/assets/images/logo-sm-2.png" alt="client-img" class="mx-auto img-fluid d-block" />
                      <p>{{ data.name }}</p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
